<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Delivery time and reliability estimator</title>
</head>

<body>
<form>
    <label for="delivery_address">Your address</label><br>
    <input type="text" id="delivery_address" name="delivery_address"><br>
    <label for="source_address">Restaurant address:</label><br>
    <input type="text" id="source_address" name="source_address">
    <input type="submit" value="Submit">
</form>

<p>%delivery_estimate%</p>

%map_element%

</body>
</html>
